<template name="RainfallOutlook">
  
  <div class="divider"></div>

  <div class="card">
    <div class="card-block text-nowrap">
      <div class="text-center">
        <h1>Rainfall Outlook for 2017</h1>
        <h6><strong>Know the 5-month rainfall forecast of municipalities with arable and cultivated land based on land cover classification of DA-BAR.</strong><br>Source: SEAMS; NOAA-Climate Prediction Center</h6>
      </div>
    </div>
  </div>

  <div class="card">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <label for="preview-select-region">REGION</label><br/>
          <div class="select-container">
            <select class="mdl-select" id="preview-select-region">
              <!-- {{#each region}}
                <option value="{{region}}">{{region}}</option>
                {{currentlySelectedRegion}}
              {{/each}} -->
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <label for="preview-select-province">PROVINCE</label><br/>
          <div class="select-container">
            <select class="mdl-select" id="preview-select-province">
             <!--  {{#each province in provinces}}
                <option value="{{province.[@index]}}">{{province[@index]}}</option>
                {{currentlySelectedProvince}}
              {{//each}} -->
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <label for="preview-select-municipality">MUNICIPALITY</label><br/>
          <div class="select-container">
            <select class="mdl-select" id="preview-select-municipality">
              <!-- {{#each province in municipality}}
                <option value="{{municipality.[@index]}}">{{municipality[@index]}}</option>
                {{currentlySelectedMunicipality}}
              {{//each}} -->
            </select>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell">
    </div>
    <!-- {{#each monthlyRainfall}}
      {{>PreviewRainfallOutlookCol}}
    {{//each}} -->
    <div class="mdl-cell">
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-secondary">MORE</button>
    </div>
  </div>
  
</template>