<template name="ProjectLeaders">
  <h3>Project Leaders</h3>
  <div class="container-projects leaders">
    <img src="img/project-leaders/espaldon.jpg" class="leader-img">
    <h4 style="font-size: 30px;">Dr. Ma. Victoria O. Espaldon</h4>
    <h5>Program Leader</h5>
  </div>

  <div class="container container-projects">
    <div class="col-md-3 leaders">
      <img src="img/project-leaders/lansigan.jpg" class="leader-img">
      <h4>Dr. Felino P. Lansigan</h4>
      <h5>Project 1 Leader</h5>
    </div>
    <div class="col-md-3 leaders">
      <img src="img/project-leaders/salazar.jpg" class="leader-img">
      <h4>Dr. Artemio M. Salazar</h4>
      <h5>Project 2 Leader</h5>
    </div>
    <div class="col-md-3 leaders">
      <img src="img/project-leaders/khan.jpg" class="leader-img">
      <h4>Prof. Concepcion L. Khan</h4>
      <h5>Project 3 Leader</h5>
    </div>
    <div class="col-md-3 leaders">
      <img src="img/project-leaders/eslava.jpg" class="leader-img">
      <h4>Dr. Decibel V. Faustino-Eslava</h4>
      <h5>Project 4 Leader</h5>
    </div>
  </div>


</template>
